
body {
  color: #FFF;
  background-color: #1976D5;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 110px;
  padding-top: 40px;
  background-color: #C1C1C1;
  margin-bottom: 20px;
  vertical-align: middle;
  line-height: 100%;
}

.nav {
  height: 75px;
  margin-bottom: 20px;
  background-color: #EB1E63;
}

.aside {
  width: 360px;
  height: 585px;
  display: inline-block;
  background-color: #3A3E47;
  padding-top: 15px;
  /* margin-right: 20px; */
}

.figure {
  line-height: 82px;
  width: 320px;
  height: 468px;
  padding-top: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: #637B8B;
}

.img {
  margin-top: 8px;
  width: 280px;
  height: 350px;
  background-color: #85D32C;
}

.main {
  width: 620px;
  height: 600px;
  line-height: 82px;
  
  
  display: inline-block;
  background-color: #6BB01A;
}

.section {
  margin: 0 auto;
  width: 580px;
  height: 153px;
  padding-top: 82px;
  margin-bottom: 20px;
  line-height: 82px;

  background-color: #FFC10A;
}

.button {
  
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 6px;
  font-size: 32px;
  line-height: 37px;
  padding: 0;
  color: #FFF;
  border: none; 
  outline: none;
  background-color: #4176FF;
  text-transform: uppercase;
}

.article {
  width: 580px;
  height: 153px;
  margin-right: auto;
  margin-left: auto;
  line-height: 82px;
  padding-top: 82px;
  background-color: #FF800A;
}

.footer {
  height: 110px;
  padding-top: 40px;
  background-color: #000000;
}